#quiz {font-size: 16px;}
#quiz .f_15 {font-size: 1.5em;}
#quiz .f_20 {font-size: 2em;}
@media (max-width: 767px){
    #quiz .f_15 {font-size: 1.25em;}
    #quiz .f_20 {font-size: 1.75em;}
}

#quiz .modal-dialog {
    width: 1140px;
    max-width: calc(100% - 6.5em);
    margin-top: 3.5em;
}
#quiz .modal-content {
    border: none;
    border-radius: 0px;
    background-color: transparent;
    position: relative;
    /* max-height: 100%; */
}
#quiz .modal-content .btn-close {
    position: absolute;
    top: -3.25em;
    right: -3.25em;
    opacity: 1;
    background: none;
    width: 3em;
    height: 3em;
    display: flex;
    padding: 0px;
}
#quiz .modal-content .btn-close svg {
    width: 3em;
    height: 3em;
    fill: none;
}
#quiz .modal-content .btn-close svg path {
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
}
@media (max-width: 1199px){
    #quiz {font-size: 15px;}
    #quiz .modal-dialog {width: 960px;}
}
@media (max-width: 991px){
    #quiz {font-size: 14px;}
    #quiz .modal-dialog {width: 720px;}
}
@media (max-width: 767px){
    #quiz {font-size: 13px;}
    #quiz .modal-dialog {
        width: 100%;
        max-width: 100%;
        margin: 0;
        height: 100vh;
    }
    #quiz .modal-dialog .modal-content {height: 100%;}
    #quiz .modal-content .btn-close {
        top: 0;
        right: 0;
    }
    #quiz .modal-content .btn-close svg path {stroke: #2196F3;}
}
@media (max-width: 575px){
    #quiz {font-size: 12px;}
}


#quiz-form {
    background: #FFFFFF;
    border-radius: 10px;
    height: 750px;
    max-height: calc(100vh - 6.5em);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}
#quiz-form h2, #quiz-form legend {
    text-align: left;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0.25em;
}
/*****************
SCROLL STYLIZATION
******************/
#quiz-form .left-side,
#quiz-form .right-side {
    scrollbar-color: #2197F4 #E3F2FD;
    scrollbar-width: thin;
}
#quiz-form .left-side::-webkit-scrollbar,
#quiz-form .right-side::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #E3F2FD;
}
#quiz-form .left-side::-webkit-scrollbar-thumb,
#quiz-form .right-side::-webkit-scrollbar-thumb {
    background-color: #2197F4;
    border-radius: 0px;
    transition: .2s;
}
#quiz-form .left-side::-webkit-scrollbar-thumb:hover,
#quiz-form .right-side::-webkit-scrollbar-thumb:hover {background-color: #3D6DB5;}
#quiz-form .left-side::-webkit-scrollbar-button:vertical:start:decrement,
#quiz-form .left-side::-webkit-scrollbar-button:vertical:end:increment,
#quiz-form .left-side::-webkit-scrollbar-button:horizontal:start:decrement,
#quiz-form .left-side::-webkit-scrollbar-button:horizontal:end:increment,
#quiz-form .right-side::-webkit-scrollbar-button:vertical:start:decrement,
#quiz-form .right-side::-webkit-scrollbar-button:vertical:end:increment,
#quiz-form .right-side::-webkit-scrollbar-button:horizontal:start:decrement,
#quiz-form .right-side::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
}

#quiz-form .left-side {
    width: 75%;
    overflow: auto;
}
#quiz-form .right-side {
    width: 25%;
    overflow: auto;
    background: linear-gradient(180deg, #E3F2FD 1.39%, rgba(227, 242, 253, 0.35) 100%);
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
#quiz-form .right-side .box {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 300;
    padding: .5em;
}
@media (max-width: 991px){
    #quiz-form .left-side {width: calc(100% / 3 * 2);}
    #quiz-form .right-side {width: calc(100% / 3);}
}
@media (max-width: 767px){
    /* #quiz-form {height: auto;} */
    #quiz-form {
        height: 100%;
        max-height: 100%;
        border-radius: 0px;
        flex-direction: column-reverse;
    }
    #quiz-form h2, #quiz-form legend {
        font-size: 1.75em;
    }
    #quiz-form .left-side, #quiz-form .right-side {
        width: 100%;
        border-radius: 0px !important;
    }
    #quiz-form .left-side{flex: 1;}
}


#quiz-slider .btn-prev {
    width: 2.5em;
    height: 2.5em;
    border: 1px solid #4F4F4F;
    border-radius: 50%;
}
#quiz-slider .btn-prev svg {
    width: 1.5em;
    height: 1.5em;
    fill: none;
}
#quiz-slider .btn-prev svg path {
    stroke: #4F4F4F;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: .5s;
}
#quiz-slider .btn-prev:hover,
#quiz-slider .btn-prev:focus {border: 1px solid #2197F4;}
#quiz-slider .btn-prev:hover svg path, 
#quiz-slider .btn-prev:focus svg path {stroke: #2197F4;}
#quiz-slider .btn-prev:hover {border: 1px solid #3D6DB5;}
#quiz-slider .btn-prev:active svg path {stroke: #3D6DB5;}
#quiz-slider .btn-next {
    text-decoration: none;
    height: 2.5em;
    padding: 0 3em;
    border-radius: 2.5em;
    background-image: linear-gradient(to right, #2197F4 25%, #3D6DB5, #2197F4 75%);
    background-size: 200% auto;
    background-position: right center;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}
#quiz-slider .btn-next:hover, #quiz-slider .btn-next:focus {
    background-position: left center;
}
#quiz-slider .btn-next:active{
    background-position: center center;
}


#quiz-slider .indicators {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
#quiz-slider .indicators div {
    flex-grow: 1;
    height: 5px;
    max-width: 100px;
    background-color: #E3F2FD;
    margin-right: 10px;
}
#quiz-slider .indicators div.active {
    background-color: #2196F3;
}


#quiz-form input, #quiz-form textarea {
    border: none;
    background-color: #f5f5f5;
    border-radius: 0;
    padding: .75em 1.5em;
    width: 100%;
    line-height: normal;
    box-shadow: unset;
}
#quiz-form input:-moz-placeholder {color: #828282; font-weight: 400;}
#quiz-form input::-moz-placeholder {color: #828282; font-weight: 400;}
#quiz-form input::-webkit-input-placeholder {color: #828282; font-weight: 400;}
#quiz-form input:-ms-input-placeholder {color: #828282; font-weight: 400;}
#quiz-form input::-ms-input-placeholder {color: #828282; font-weight: 400;}
#quiz-form input::placeholder {color: #828282; font-weight: 400;}
#quiz-form input {
    padding: .75em 1.5em;
    width: 100%;
    line-height: normal;
    box-shadow: unset;
    background-color: transparent;
}
#quiz-form input.inp-1 {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #E0E0E0;
}
#quiz-form input.inp-2 {
    border-radius: 10px;
    border: 1px solid #E0E0E0;
}

#quiz-form .elem-1 {position: relative;}
#quiz-form input.trans{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#quiz-form input.trans:checked {
    border: 2px solid #2196F3;
}
#quiz-form .elem-1 .visual-part {
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
#quiz-form .elem-1 .visual-part>img {
    width: 5em;
    height: 4.25em;
    background-color: #56CCF2;
    border: 1px solid #56CCF2;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 1em;
    object-fit: cover;
}
#quiz-form .elem-1 .visual-part>div {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#quiz-form .elem-1 .visual-part>div input {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    z-index: 10;
}
@media (max-width: 1199px){
    #quiz-form .elem-1 .visual-part {padding: .5em;}
}

#quiz-form .elem-2 .visual-part {
    position: relative;
    background-color: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1em;
}
#quiz-form .elem-2 .visual-part>img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}
@media (max-width: 1199px){
    #quiz-form .elem-2 .visual-part>img {height: 190px;}
}
@media (max-width: 767px){
    #quiz-form .elem-2 .visual-part>img {height: 27vw;}
}
@media (max-width: 575px){
    #quiz-form .elem-2 .visual-part>img {height: 42vw;}
}