#quiz {font-size: 16px;}
#quiz h2 {
    text-align: left;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0.25em;
}
#quiz .modal-dialog {
    max-width: 1140px;
}
#quiz .modal-content {
    border: none;
    background-color: transparent;
    position: relative;
}
#quiz .modal-content .btn-close {
    position: absolute;
    top: -3.25em;
    right: -3.25em;
    opacity: 1;
    background: none;
    width: 3em;
    height: 3em;
    display: flex;
    padding: 0px;
}
#quiz .modal-content .btn-close svg {
    width: 3em;
    height: 3em;
    fill: none;
}
#quiz .modal-content .btn-close svg path {
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#quiz-form {
    background: #FFFFFF;
    border-radius: 10px;
    height: 800px;
}
#quiz-form .right {
    background: linear-gradient(180deg, #E3F2FD 1.39%, rgba(227, 242, 253, 0.35) 100%);
    border-radius: 0px 10px 10px 0px;
}
#quiz-form .right .box {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 300;
    padding: .5em;
}


#quiz-slider .btn-prev {
    width: 2.5em;
    height: 2.5em;
    border: 1px solid #4F4F4F;
    border-radius: 50%;
}
#quiz-slider .btn-prev svg {
    width: 1.5em;
    height: 1.5em;
    fill: none;
}
#quiz-slider .btn-prev svg path {
    stroke: #4F4F4F;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}
#quiz-slider .btn-next {
    height: 2.5em;
    padding: 0 3em;
    border-radius: 2.5em;
    background: linear-gradient(90deg, rgba(13, 71, 161, 0.8) 0%, #2196F3 57.72%);
    color: #fff;
    font-weight: 500;
}


#quiz-slider .indicators {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
#quiz-slider .indicators div {
    flex-grow: 1;
    height: 5px;
    max-width: 100px;
    background-color: #E3F2FD;
    margin-right: 10px;
}
#quiz-slider .indicators div.active {
    background-color: #2196F3;
}


#quiz-form input {
    background-color: transparent;
    border-bottom: 2px solid #E0E0E0;
}

#quiz-form .elem-1 {position: relative;}
#quiz-form input.trans{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#quiz-form input.trans:checked {
    border: 2px solid #2196F3;
}
#quiz-form .elem-1 .visual-part {
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    /* position: relative;
    z-index: 1; */
}
#quiz-form .elem-1 .visual-part>img {
    width: 5em;
    height: 4.25em;
    background-color: #56CCF2;
    border: 1px solid #56CCF2;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 1em;
    object-fit: cover;
}
#quiz-form .elem-1 .visual-part>div {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#quiz-form .elem-1 .visual-part>div input {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    z-index: 10;
}

